html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
  -webkit-app-region: no-drag;
}

#container {
    display: block;
    width: 100vw;
    height: 100vh;
    /* outline: 1px solid red; */

    display: flex;
    flex-direction: column;
}

#touch-area {
    display: flex;
    flex: 1;
}

#control {
    display: flex;
    height: 300px;
    outline: 1px solid red;
}

#control div {
    flex: 1;
    outline: 1px solid blue;
}
