html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
  -webkit-app-region: no-drag;

  background-color: #F2F2F2;
}

#container {
    display: block;
    width: 100vw;
    height: 100vh;
    /* outline: 1px solid red; */

    display: flex;
    flex-direction: column;
}

#trackpad {
    display: flex;
    flex: 1;
}

/* #control {
    display: flex;
    height: 300px;
    outline: 1px solid red;
}

#control div {
    flex: 1;
    outline: 1px solid blue;
} */


#keyboard {
    display: flex;
    height: 200px;
    outline: 1px solid red;
}

#instant-keyboard {
    height: 200px;
    widht: 200px;
    outline: 1px solid red;
}

#instant-keyboard input {
    outline: 1px solid blue;
}

#input-type {
    position: absolute;
    bottom: 93px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


button.btn {
    padding: 5px;
    outline: 1px solid gray;
}