doctype html
html
  head
    title Remote Control
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- meta(name="viewport", content="width=device-width, initial-scale=1.0")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    //- link(rel="apple-touch-icon" href="res/icon.png")
    //- link(rel="icon" sizes="256x256" href="res/icon.png")
    link(rel="stylesheet" type="text/css" href="res/style.css")

  body
    #app
      cruel-world
      //- block content

    script(src='/socket.io/socket.io.js')
    //- script(src='/res/vue/vue.js')
    //- script(src='/res/zingtouch/zingtouch.js')
    script(src='/res/bundle.js')
    //- script.


